<div id="list-{{id}}">
  <style>
    @scope {
      :scope {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: white;
      }

      a {
        text-decoration: none;
        color: #000;
      }

      header {
        padding: 0 .8rem;
        background-color: #ddd;
        border-radius: 8px 8px 0 0;
      }

      footer {
        display: flex;
        justify-content: space-between;
        height: 40px;
      }

      footer :nth-child(1) {
        border-radius: 0 0 0 8px;
      }

      footer :nth-last-child(1) {
        border-radius: 0 0 8px 0;
      }

      footer .button {
        flex-grow: 1;
        border: solid 1px hsl(0, 0%, 80%);
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
      }

      footer .button svg {
        width: 24px;
        height: 24px;
        stroke: hsl(0, 0%, 30%);
      }

      input[type="text"].h1 {
        font-weight: 900;
        font-size: 1.8em;
        font-style: normal;
      }
    }
  </style>
  <form id='list-form' hx-encoding='multipart/form-data' hx-{{#if fields}}put{{else}}post{{/if}}="/list/{{id}}"
    hx-target="#lists">
    <header>
      <input type='text' name='title' id="title" placeholder="Title" class="h1" required value="{{fields.title}}"></input>
      <input type="hidden" name="version" id="version" value="{{version}}" />
    </header>
    <footer>
      {{#if fields}}
      <div class="button" hx-get="/list/{{id}}/edit" hx-target="#list-{{id}}" hx-swap="outerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
      </div>
      {{/if}}
      <button class="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </button>
    </footer>
  </form>
</div>