{{#each sights}}
<div id="sight-{{id}}" class="sight container">
  <h1>{{title}}</h1>
  <div>{{{description}}}</div>
  <div class="buttons">
    {{!-- <a href="https://openstreetmap.org/#map=13/{{lat}}/{{long}}" target=" _blank">
      <div class="button"><img src="/static/icons/map_FILL0_wght400_GRAD0_opsz24.svg" /></div>
    </a> --}}
    <div class="button" hx-on:click="marker_{{js_id}}.openPopup(); map.panTo([{{lat}}, {{long}}]); location.href = '#map';"><img src="/static/icons/map_FILL0_wght400_GRAD0_opsz24.svg" /></div>
    <div class="button" hx-get="/sight/{{id}}" hx-target="#sight-{{id}}" hx-swap="outerHTML">
      <img src="/static/icons/edit_FILL0_wght400_GRAD0_opsz24.svg" />
    </div>
    <a href="om://map?v=1&ll={{lat}},{{long}}"><div class="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
      </svg>
    </div></a>
    <div class="button" hx-delete="/sight/{{id}}" hx-target="#sight-{{id}}" hx-swap="outerHTML"
      hx-confirm="Are you sure you want to delete '{{title}}'?">
      <img src="/static/icons/delete_FILL0_wght400_GRAD0_opsz24.svg" />
    </div>
  </div>
</div>
{{/each}}